/* 
1. Posicionamiento
2. Modelo de Caja (Box Model)
3. Tipografia
4. Visuales
5. Otros
*/
:root {
    /* Colores */
    --bitcoin-orange: #F7931A;
    --soft-orange: #FFE9D5;
    --secondary-blue: #1A9AF7;
    --soft-blue: #E7F5FF;
    --just-black: #000000;
    --black: #201E1C;
    --warm-black: #282623;
    --card-grey: #808080;
    --dark-grey: #757575;
    --medium-grey: #B5B0AC;
    --grey: #BABABA;
    --off-white: #FAF8F7;
    --just-white: #FFFFFF;
}
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
html {
    font-size: 62.5%;
    font-family: 'DM Sans', sans-serif;
}
header {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    width: 100%;
    min-width: 320px;
    height: 295px;
    background: linear-gradient(207.8deg, var(--black) 16.69%, var(--bitcoin-orange) 100%);
}
header img {
    width: 150px;
    height: 24px;
    margin-bottom: 33px;
}
.header__title-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 90%;
    min-width: 288px;
    max-width: 900px;
}
.header__title-container h1 {
    font-size: 2.4rem;
    font-weight: 700;
    line-height: 2.6rem;
    color: var(--just-white);
}
.header__title-container p {
    font-size: 1.4rem;
    font-weight: 500;
    line-height: 1.8rem;
    color: var(--soft-orange);
    margin: 24px 0;
}
.header__title-container .header__button {
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    bottom: -19px;
    width: 229px;
    height: 48px;
    background-color: var(--off-white);
    border: none;
    border-radius: 4px;
    padding: 12px 16px;
    text-decoration: none;
    font-size: 1.4rem;
    font-weight: 700;
    line-height: 1.8rem;
    color: var(--black);
    /* Shadow */
    box-shadow: 0px 4px 8px #59491E29;
}
.header__button span {
    display: inline-block;
    background-image: url(./assets/icons/mdi_keyboard_arrow_down.svg);
    margin-left: 8px;
    width: 24px;
    height: 24px;
}
main {
    width: 100%;
    min-width: 320px;
    height: auto;
    text-align: center;
    background-color: var(--off-white);
}
.exchange {
    width: 100%;
    height: auto;
    padding-top: 60px;
}
.exchange .background-img {
    width: 195px;
    height: 195px;
    margin: 0 auto;
    margin-bottom: 40px;
    background-image: url(./assets/images/bitcoin.svg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat ;
}
.exchange__title {
    width: 90%;
    min-width: 288px;
    max-width: 900px;
    margin: 0 auto;
}
.exchange__title h2 {
    margin-bottom: 24px;
    font-size: 2.4rem;
    font-weight: 700;
    line-height: 2.6rem;
    color: var(--black);
}
.exchange__title p {
    margin-bottom: 48px;
    font-size: 1.4rem;
    font-weight: 500;
    line-height: 1.8rem;
    color: var(--dark-grey);
}

/* CSS Exchange Tables */
.exchange__exchange-table {
    position: relative;
    width: 70%;
    min-width: 235px;
    max-width: 500px;
    height: 241px;
    margin: 0 auto 64px auto;
}
.arrow {
    display: inline-block;
    position: absolute;
    top: 105px;
    width: 24px;
    height: 24px;
    background-position: center;
    background-size: contain;
    background-repeat: none;
}
.exchange-table__title {
    width: 90%;
    min-width: 202px;
    max-width: 300px;
    margin: 0 auto;
    margin-bottom: 12px;
    text-align: left;
    font-size: 1.8rem;
    font-weight: 700;
    line-height: 2.3rem;
}
.exchange__exchange-table table {
    width: 90%;
    min-width: 202px;
    max-width: 300px;
    height: 159px;
    margin: 0 auto;
    margin-bottom: 14px;
    font-family: 'Inter', sans-serif;
}
.exchange__exchange-table td {
    width: 50%;
    padding: 10px 12px;
    background-color: var(--just-white);
}
.exchange__exchange-table td span {
    display: inline-block;
    height: 12px;
    width: 12px;
    margin-left: 10px;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}
.exchange__exchange-table td .up {
    background-image: url("./assets/icons/trending-up.svg");
}
.exchange__exchange-table td .down {
    background-image: url("./assets/icons/trending-down.svg");
}
.exchange__exchange-table .table--left {
    text-align: left;
    font-size: 1.6rem;
    font-weight: 500;    
    line-height: 1.9rem;
    color: var(--medium-grey);
}
.exchange__exchange-table .table--right {
    font-size: 1.4rem;
    font-weight: 400;
    line-height: 1.7rem;
    color: var(--dark-grey);
}
.exchange__exchange-table .table--top-left {
    border-radius: 15px 0 0 0;
}
.exchange__exchange-table .table--top-right {
    border-radius: 0 15px 0 0;
}
.exchange__exchange-table .table--bottom-right {
    border-radius: 0 0 15px 0;
}
.exchange__exchange-table .table--bottom-left {
    border-radius: 0 0 0 15px;
}
.exchange-table__date {
    width: 173px;
    height: 31px;
    margin: 0 auto;
    padding: 8px;
    font-size: 1.2rem;
    font-weight: 500;
    line-height: 1.5rem;
    color: var(--black);
    border-radius: 5px;
}
/* CSS Currency Table */
.exchange-table__title--currency {
    color: var(--bitcoin-orange);
}
.exchange-table__date--currency {
    background-color: var(--soft-orange);
}
/* CSS Comision Table */
.exchange-table__title--comision {
    color: var(--secondary-blue);
}
.exchange-table__date--comision {
    background-color: var(--soft-blue);
}

/* CSS Product detail section*/
.product-detail {
    position: relative;
    width: 100%;
    min-width: 320px;
    height: auto;
    padding: 64px 16px 31px;
    background-color: var(--black);
}
.product-detail .product-detail__ico {
    position: absolute;
    top: -11px;
    left: calc(50% - 20px);
    width: 40px;
    height: 24px;
    background-image: url("./assets/icons/batata.svg");
    background-size: cover;
    background-position: center;
    background-repeat: none;
    transform: scaleX(-1);
}
.product-detail__title {
    min-width: 288px;
    max-width: 900px;
    height: auto;
    margin: 0 auto;
    margin-bottom: 32px;
}
.product-detail__title h2 {
    margin-bottom: 24px;
    font-size: 2.4rem;
    font-weight: 700;
    line-height: 2.6rem;
    color: var(--just-white);
}
.product-detail__title p {
    font-size: 1.4rem;
    font-weight: 500;
    line-height: 1.8rem;
    color: var(--card-grey);
}
.product-detail__product-card {
    width: 90%;
    min-width: 288px;
    max-width: 400px;
    min-height: 152px;
    margin: 16px auto;
    padding: 16px;
    border-radius: 4px;
    text-align: left;
    background-color: var(--warm-black);
    box-shadow: 0 4px 8px 0 #00000029;
}
.product-detail__product-card .product-card__ico {
    display: inline-block;
    width: 24px;
    height: 24px;
    margin-bottom: 10px;
    background-size: cover;
    background-position: center;
    background-repeat: none;
}
.product-detail__product-card .product-card__ico--clock {
    background-image: url(./assets/icons/clock.svg);
}
.product-detail__product-card .product-card__ico--eye {
    background-image: url(./assets/icons/eye.svg);
}
.product-detail__product-card .product-card__ico--dollar {
    background-image: url(./assets/icons/dollar-sign.svg);
}
.product-detail__product-card .product-card__ico--check {
    background-image: url(./assets/icons/check-circle.svg);
}
.product-detail__product-card .product-card__title {
    margin-bottom: 10px;
    font-size: 1.8rem;
    font-weight: 700;
    line-height: 1.8rem;
    color: var(--just-white);
}
.product-detail__product-card .product-card__info {
    font-size: 1.4rem;
    font-weight: 500;
    line-height: 1.8rem;
    color: var(--card-grey);
}

.bitcoin-img-container {
    width: 100%;
    min-width: 320px;
    height: 387px;
    background-image: url(./assets/images/bitcoinbaby_x2.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: none;
}
.bitcoin-img-container h2 {
    padding-top: 65px;
    font-size: 2.4rem;
    font-weight: 700;
    line-height: 2.6rem;
    color: var(--just-white);
}

.plans {
    width: 100%;
    min-width: 320px;
    height: auto;
    padding: 64px 0;
}
.plans__title {
    width: 90%;
    min-width: 288px;
    max-width: 900px;
    height: auto;
    margin: 0 auto;
}
.plans__title h2 {
    margin-bottom: 24px;
    font-size: 2.4rem;
    font-weight: 700;
    line-height: 2.6rem;
    color: var(--black);
}
.plans__title p {
    font-size: 1.4rem;
    font-weight: 500;
    line-height: 1.8rem;
    color: var(--dark-grey);
}
.plans__plans-container-slider {
    display: flex;
    width: 90%;
    margin: 0 auto;
    height: 316px;
    overflow-x: scroll;
    overscroll-behavior-x: contain;
    scroll-snap-type: x proximity;
}
.plans__plan-card {
    position: relative;
    scroll-snap-align: center;
    width: 58%;
    min-width: 190px;
    max-width: 300px;
    height: 247px;
    margin: 50px 8px 0;
    padding: 24px 18px;
    border-radius: 8px;
    background-color: var(--just-white);
    box-shadow: 0 4px 8px 0 #59491E29;
}
.recommended {
    position: absolute;
    width: 101px;
    height: 31px;
    top: -16px;
    left: calc(50% - 50.5px);
    margin: 0 auto;
    padding: 8px;
    font-size: 1.2rem;
    font-weight: 700;
    line-height: 1.5rem;
    border-radius: 8px;
    background-color: var(--bitcoin-orange);
    color: var(--just-white);
}
.plans__plan-card .plan-card__title {
    margin: 7px auto 8px;
    font-size: 1.4rem;
    font-weight: 500;
    line-height: 1.8rem;
    color: var(--just-black);
}
.plans__plan-card .plan-card__price {
    display: inline-block;
    position: relative;
    height: 56px;
    margin-bottom: 16px;
    font-family: 'Inter', sans-serif;
    font-size: 5.2rem;
    font-weight: 700;
    line-height: 6.3rem;
    color: var(--just-black);
}
.plans__plan-card .plan-card__price span {
    position: absolute;
    top: 1.2rem;
    left: -12px;
    font-size: 1.2rem;
    font-weight: 500;
    line-height: 1.4rem;
    color: var(--black);
}
.plans__plan-card .plan-card__saving {
    margin-bottom: 16px;
    min-height: 3rem;
    font-family: 'Inter', sans-serif;
    font-size: 1.2rem;
    font-weight: 500;
    line-height: 1.5rem;
    color: var(--dark-grey); 
}
.plans__plan-card .plan-card__button {
    height: 48px;
    padding: 12px 16px;
    font-family: 'DM Sans', sans-serif;
    font-size: 1.4rem;
    line-height: 1.8rem;
    font-weight: 700;
    color: var(--black);
    border: 2px solid var(--bitcoin-orange);
    border-radius: 4px;
    background-color: var(--off-white);
    cursor: pointer;
}
.plans__plan-card .plan-card__button span {
    display: inline-block;
    vertical-align: text-bottom;
    margin-left: 8px;
    width: 20px;
    height: 20px;
    background-image: url("./assets/icons/arrow-right.svg");
    background-position: center;
    background-size: cover;
    background-repeat: none;
}

footer {
    display: flex;
    justify-content: space-between;
    width: 100%;
    height: 150px;
    background-color: var(--bitcoin-orange);
}
footer section {
    display: flex;
    width: 50%;
    justify-content: center;
    align-items: center;
}
footer .left ul {
    font-size: 1.4rem;
    font-weight: 500;
    line-height: 1.8rem;
    list-style: none;
}
.left li {
    margin: 10px 0;
}
.left a {
    text-decoration: none;
    color: var(--just-white);
}
.right img {
    width: 64px;
    height: 50px;
}